<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title th:text="${sentence.joke}"></title>
</head>

<div layout:fragment="content">

	<h1>Daily wisdom details</h1>
	
	<table class="table table-bordered">
		<thead class="thead-default">
		<tr>
			<th colspan="2"><strong>Sentence details</strong></th>
		</tr>
		</thead>
		<tr>
			<th>ID</th>
			<td th:text="${sentence.id}"></td>
		</tr>
		<tr>
			<th>Full sentence</th>
			<td th:text="${sentence.joke}"></td>
		</tr>
		<tr>
			<th>URL</th>
			<td><input class="url" type="text" th:value="@{__${#httpServletRequest.scheme}__://__${#httpServletRequest.serverName}__:__${#httpServletRequest.serverPort}__/dw/{slug}(slug=${sentence.slug})}" /></td>
		</tr>
		<tr>
			<th>Short URL</th>
			<td><input class="url" type="text" th:value="@{__${#httpServletRequest.scheme}__://__${#httpServletRequest.serverName}__:__${#httpServletRequest.serverPort}__/dw/{id}(id=${sentence.id})}" /></td>
		</tr>
	</table>
	
	<table class="table table-bordered">	
		<thead class="thead-default">
		<tr>
			<th colspan="2"><strong>Category details</strong></th>
		</tr>
		</thead>
		<tr>
			<th>Name</th>
			<td th:text="${sentence.category.name}"></td>
		</tr>
		<tr>
			<th>Image</th>
			<td><img height="150" th:src="@{'/images/' + ${sentence.category.image}}" /></td>
		</tr>
	</table>
	
	<table class="table table-bordered">	
		<thead class="thead-default">
		<tr>
			<th colspan="2"><strong>Author details</strong></th>
		</tr>
		</thead>
		<tr>
			<th>Full name</th>
			<td th:text="${sentence.author.fullName}"></td>
		</tr>
		<tr>
			<th>Email</th>
			<td th:text="${sentence.author.email}"></td>
		</tr>
		
	</table>

</div>

</html>