<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Daily wisdoms list</title>
</head>

<div layout:fragment="content">

	<h1>Daily wisdoms list</h1>
	
	<form class="form-inline mt-1 mb-1" action="#" th:object="${searchForm}" method="get">
    	<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" placeholder="search text" th:field="*{search}" />
		<button type="submit" class="btn btn-primary">Search</button>
		<a th:href="@{/dw}" class="btn btn-primary ml-1">Reset</a>
		<a sec:authorize="isAuthenticated()" th:href="@{/pa/dw/add}" class="btn btn-success ml-1">Add</a>
	</form>
	
	<table class="table table-bordered table-striped top-5">
		<thead class="thead-default">
		<tr>
			<th class="text-nowrap">ID
				<a class="btn btn-secondary btn-sm" th:classappend="${sort.equals('id')} ? 'active' : ''" role="button" th:href="${sortUrls.id}">
					<i class="fa" th:classappend="${order.equals('ASC')} ? 'fa-sort-numeric-asc' : 'fa-sort-numeric-desc'" aria-hidden="true"></i>
				</a>
			</th>
			<th class="text-nowrap">Text
				<a class="btn btn-secondary btn-sm" th:classappend="${sort.equals('text')} ? 'active' : ''" role="button" th:href="${sortUrls.text}">
					<i class="fa" th:classappend="${order.equals('ASC')} ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" aria-hidden="true"></i>
				</a>
			</th>
			<th class="text-nowrap">Category
				<a class="btn btn-secondary btn-sm" th:classappend="${sort.equals('category')} ? 'active' : ''" th:href="${sortUrls.category}">
					<i class="fa" th:classappend="${order.equals('ASC')} ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" aria-hidden="true"></i>
				</a>
			</th>
			<th class="text-nowrap">Author
				<a class="btn btn-secondary btn-sm" th:classappend="${sort.equals('author')} ? 'active' : ''" th:href="${sortUrls.author}">
					<i class="fa" th:classappend="${order.equals('ASC')} ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" aria-hidden="true"></i>
				</a>
			</th>
			<th sec:authorize="isAuthenticated()">Action</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="dailyWisdom : ${page.content}">
   			<td class="middle">
   				<a title="See sentence details" th:href="@{/dw/{id}(id=${dailyWisdom.id})}" th:text="${dailyWisdom.id}"></a>
   			</td>
   			<td class="middle">
   				<a title="See sentence details" th:href="@{/dw/{slug}(slug=${dailyWisdom.slug})}" th:text="${dailyWisdom.joke}"></a>
   			</td>
   			<td class="text-center middle">
   				<img height="50" th:src="@{'/images/' + ${dailyWisdom.category.image}}" th:title="${dailyWisdom.category.name}" />
   			</td>
   			<td class="middle">
   				<a class="text-nowrap" th:text="${dailyWisdom.author.fullName}"></a>
   			</td>
   			<td sec:authorize="isAuthenticated()" class="align-middle text-nowrap">
   				<a th:if="${#authentication.getPrincipal().getUsername()} == ${dailyWisdom.author.email}" role="button" class="btn btn-warning btn-sm" title="Edit" th:href="@{/pa/dw/{id}/edit(id=${dailyWisdom.id})}">Edit</a>
   				<a th:unless="${#authentication.getPrincipal().getUsername()} == ${dailyWisdom.author.email}" role="button" class="btn btn-warning btn-sm disabled" href="#">Edit</a>
   				<a th:if="${#authentication.getPrincipal().getUsername()} == ${dailyWisdom.author.email}" role="button" class="btn btn-danger btn-sm ml-1" title="Delete" data-confirm="Are you sure you want to delete?" th:href="@{/pa/dw/{id}/delete(id=${dailyWisdom.id})}">Delete</a>
   				<a th:unless="${#authentication.getPrincipal().getUsername()} == ${dailyWisdom.author.email}" role="button" class="btn btn-danger btn-sm ml-1 disabled" href="#">Delete</a>
   			</td>
		</tr>
		</tbody>
	</table>

	<!-- Pagination Bar -->
	<th:block th:if='${page.hasContent()}' th:include="common/pagination :: pagination"></th:block>
	<p th:if='${!page.hasContent()}'>There are no jokes to show.</p>

</div>

</html>