html, body {
  height: 100%;
}

#wrap {
  min-height: 95%;
}

.url {
	width: 800px;
}

.table tbody>tr>td.middle
{
    vertical-align: middle;
}

.top-5 { margin-top:5px; }
.top-10 { margin-top:10px; }