<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	<h1 class="text-center">Daily wisdom</h1>
	<p class="text-center"><img height="500" th:src="@{'/images/' + ${sentence.category.image}}" /></p>
	<h2 class="text-center"><a title="See sentence details" th:href="@{/dw/{slug}(slug=${sentence.slug})}" th:text="${sentence.joke}"></a></h2>
	<h3 class="text-center">Added by: <span th:text="${sentence.author.fullName}"></span></h3>
	<p class="text-center">Votes:
		<strong th:text="${sentence.mark}"></strong>
		<a sec:authorize="isAuthenticated()" href="/" title="Vote for this sentence (under construction)"><span class="fa fa-thumbs-o-up"></span></a>
		<span sec:authorize="isAnonymous()" title="Login/register if you want to vote"><span class="fa fa-thumbs-o-up text-muted"></span></span>
	</p>
</div>

</html>