<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" />
        <title>Daily wisdom</title>
        <link th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
        <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.12.5/dist/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/common.js}"></script>
    </head>
    <body>

    
	<div id="wrap">
	
	<th:block th:include="common/navigation :: navigation(test)"></th:block>
	
	<div id="main" class="container clear-top">
	
		<div class="alert alert-info mt-1 mb-1" th:if="${msg}">
    	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    	    <span th:text="${msg}"></span>
        </div>
	
		<div layout:fragment="content">

		</div>
		
    	
	</div>
	</div>
	
	<footer class="footer">
    	<p class="text-center">My first Spring Boot application</p>
    </footer>                        
    
	<th:block layout:fragment="script"></th:block>
	    
    </body>
</html>